@using SmartHouseWebSite.Models
@model IEnumerable<TriggersActionViewModel>
@{
    ViewBag.Title = "Sensors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<div>
    <table>
        <tr>
            <td><h3>Trigger</h3></td>
            <td>Time</td>
            <td>Description</td>
        </tr>
        @foreach (TriggersActionViewModel ctrl in Model)
        {
        <tr>
            <td></td>
            <td>@ctrl.TimeChange</td>
            <td>@ctrl.Description</td>
        </tr>
        }
    </table>
</div>
