@using Interfaces.DTO
@model IEnumerable<SensorsValueDTO>
@{
    ViewBag.Title = "Sensor's values";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class ="statisticTable">
        <tr>
            <td><h4>Sensor</h4></td>
            <td><h4>Time</h4></td>
            <td><h4>Value</h4></td>
        </tr>
        @foreach (SensorsValueDTO ctrl in Model)
        {
        <tr>
            <td>@ctrl.SensorName</td>
            <td>@ctrl.TimeMeasurement</td>
            <td>@ctrl.Value</td>
        </tr>
        }
    </table>
</div>
