@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Tables</h3>
        <table>
            <tr>
                <td><p><a href="/Ctrl">Controllers</a></p></td>
            </tr>
             <tr>
                <td><p><a href="/Sensor">Sensors</a></p></td>
            </tr>
             <tr>
                <td><p><a href="/SensorsValue">Sensor's values</a></p></td>
            </tr>
             <tr>
                <td><p><a href="/Trigger">Triggers</a></p></td>
            </tr>
             <tr>
                <td><p><a href="/TriggersAction">Trigger's actions</a></p></td>
            </tr>
        </table>
    </div>
</body>
</html>
