@using SmartHouseWebSite.Models
@model IEnumerable<HouseControllerViewModel>
@{
    ViewBag.Title = "House controllers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <table>
            <tr>
                <td><h3>Name</h3></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (HouseControllerViewModel ctrl in Model)
            {
            <tr>
                <td>@ctrl.Name</td>
                <td><p><a href="/HouseController/Details/@ctrl.Id">Details</a></p></td>
                <td><p><a href="/HouseController/Edit/@ctrl.Id">Edit</a></p></td>
                <td><p><a href="/HouseController/Delete/@ctrl.Id">Delete</a></p></td>
                <td><p><a href="/HouseController/Create">Create</a></p></td>
            </tr>
            }
        </table>
    </div>
