@using Interfaces.DTO
@model IEnumerable<TriggersActionDTO>
@{
    ViewBag.Title = "Sensors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class ="statisticTable">
        <tr>
            <td><h4>Trigger</h4></td>
            <td><h4>Time</h4></td>
            <td><h4>Description</h4></td>
        </tr>
        @foreach (TriggersActionDTO ctrl in Model)
        {
        <tr>
            <td>@ctrl.TriggerName</td>
            <td>@ctrl.TimeChange</td>
            <td>@ctrl.Description</td>
        </tr>
        }
    </table>
</div>
