@using Interfaces.DTO
@model IEnumerable<RoomDTO>

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach (RoomDTO room in Model)
    {   
         <p>@Html.RouteLink(room.Name, "Room", new { action = "Index", controller = "Room", roomId = room.Id })</p>    
    }
</div>

