@using SmartHouseWebSite.Models
@model IEnumerable<RoomViewModel>

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div>
    @foreach(RoomViewModel room in Model){
         @Html.RouteLink(room.Name, "Room", new {action="Index", controller="Room" ,roomId = room.Id})  
         
         @*  using(Html.BeginForm("Index", "Room", FormMethod.Post)){
              @Html.Hidden("RoomId", room.Id)
              <p><input type="submit" value="@room.Name" /></p>*  
         }  *@       
       }
    </div>

