@using SmartHouseWebSite.Models
@model IEnumerable<ControllerViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td><h3>Name</h3></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (ControllerViewModel ctrl in Model)
            {
            <tr>
                <td>@ctrl.Name</td>
                <td><p><a>Edit</a></p></td>
                <td><p><a>Delete</a></p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
